
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @notice.subject %></h2>
    </div>
    <div class="panel-body">
      <p><%= @notice.text %></p>
    </div>
  </div>

  <%= link_to 'Editar', edit_notice_path(@notice), :class => "btn btn-warning" %>
  <%= link_to 'Voltar', notices_path, :class => "btn btn-primary" %>
</div>

